.activity {
	position: fixed;
	bottom: 20px;
	background-color: #BAA1FF;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 2px 40px rgba(84, 35, 226, 0.5);
}
.goldMode .activity {
	background-color: #F7EFA1;
	box-shadow: 0 2px 40px #665C00;
}
.activity, .activity .chat {
	transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
/* large */
@media screen and (min-width: 600px) {
	.activity {
		width: 300px;
		transform: translate(0, 220px);
		right: 20px;	
	}
	.activity:hover {
		transform: translate(0, 0);
	}
	.activity:hover .activity-header .chevron {
		transform: rotate(180deg);
	}
}
/* small */
@media screen and (max-width: 600px) {
	.activity {
		width: 96%;
		left: 2%;
		transform: translate(0, 350px);
	}
	.activity.expanded {
		transform: translate(0, 0);
	}
	.activity.expanded .activity-header .chevron {
		transform: rotate(180deg);
	}
}
.activity-header {
	display: flex;
	align-items: center;
	background-color: #5423E2;
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.goldMode .activity-header {
	background: linear-gradient(45deg, rgba(215,195,12,1) 0%,rgba(245,239,201,1) 50%,rgba(215,195,12,1) 100%);
	color: #665C00;
}
.activity-header .flex-space {
	flex-grow: 1;
}
.activity-header .chevron {
	width: 1.4em;
	margin-right: 0.5em;
	opacity: 0.5;
	transition: transform 0.6s ease-in-out;
}
.activity-header .coin {
	width: 2em;
	margin-right: 10px;
}
.activity .chat {
	padding-bottom: 10px;
	height: 320px;
	overflow-y: auto;
	opacity: 0.4;
}
.activity .chat > * {
	margin: 0.7em;
}
.activity:hover .chat {
	opacity: 1;
}
.message .bubble, .message .action {
	border-radius: 17px;
	font-size: 17px;
	line-height: 1.3;
	padding: 6px 10px;
	display: inline-block;
}
.message {
	
}
.message .bubble {
	background-color: #5423E2;
	color: rgba(255,255,255,0.9);
}
.goldMode .message .bubble {
	background-color: #665C00;
}
.message.type-admin, .message.type-system {
	margin-right: 20px;
}
.message .action {
	background-color: #00FFE0;
	color: black;
	cursor: default;
	font-weight: 500;
}
.message .action:hover {
	background-color: #00F1D4;
}
.message.type-system .bubble {
	background-color: #3B364B;
	color: rgba(255,255,255,0.8);
	font-size: small;
	font-family: monospace;
	cursor: not-allowed;
	white-space: pre-wrap;
}
.activity .divider {
	height: 1px;
	background-color: rgba(10, 0, 30, 0.2);
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

.coinAnimationContainer {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	transform-origin: bottom left;
}
.coinAnimationContainer, .coinAnimationContainer > img {
	transition: transform 0.6s ease-out;
}

.coinAnimationContainer:not(.started) {
	transform: rotate(-90deg);
}

.coinAnimationContainer > img {
	position: absolute;
}

.coinAnimationContainer:not(.started) > img {
	transform: translate(0, 0) scale(4, 4);
}
