.IncentiveView {
	border: 3px solid black;
	background-color: white;
	padding: 10px;
	width: 140px;
	box-shadow: 4px 4px 0px rgba(0,0,0,1);
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
}
.IncentiveView .lock {
	width: 52px;
	height: 61px;
	background-image: url(../images/locked.svg);
	position: relative;
	margin: auto;
}
.IncentiveView.unlocked .lock {
	background-image: url(../images/unlocked.svg);
}
.IncentiveView label {
	position: absolute;
	text-align: center;
	bottom: 9px;
	left: 0;
	width: 100%;
	font-weight: 500;
}
.IncentiveView h6 {
	margin: 0.5em 0;
	font-size: 1em;
	font-weight: 500;
}
