.ModalPlayer {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
}

.ModalPlayer:empty {
	pointer-events: none;
	background-color: rgba(0,0,0,0);
}

.ModalItemView:not(.borderless) {
	position: absolute;
	left: 4%;
	right: 4%;
	top: 4%;
	bottom: 4%;
	background-color: white;
	border: 3px solid black;
}

.ModalItemView .control {
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ModalItemView .back, .ModalItemView .forward {
	width: 66px;
	height: 66px;
	bottom: 50%;
	margin-bottom: -33px;
	background-size: 60%;
	border: 3px solid black;
	background-color: white;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: 2px 2px 0px rgba(0,0,0,1);
}

.ModalItemView .back {
	left: -33px;
	background-image: url(../images/back-arrow.svg);
}

.ModalItemView .forward {
	right: -33px;
	background-image: url(../images/forward-arrow.svg);
}

@media screen and (max-width: 600px) {
	.ModalItemView {
		left: 1vw;
		right: 1vw;
		top: 1vw;
		bottom: 1vw;
	}
	.ModalItemView .back, .ModalItemView .forward {
		bottom: 2vw;
		margin-bottom: 0;
	}
	.ModalItemView .back {
		left: 2vw;
	}
	.ModalItemView .forward {
		right: 2vw;
	}
}

.ModalItemView.offset_1 {
	z-index: -1;
	transform: translate(6px, 6px);
	opacity: 0.8;
}

.ModalItemView.offset_2 {
	z-index: -2;
	transform: translate(12px, 12px);
	opacity: 0.6;
}

/** WEB MODALS **/

.ModalItemView.web .content {
	height: 100%;
}

.ModalItemView.web iframe {
	border: none;
	width: 100%;
	height: 100%;
}


/** BASIC PAGE ITEM **/

.BasicPageItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	line-height: 1.5;
}

.BasicPageItem .subtitle {
	font-size: large;
}

.BasicPageItem > * {
	max-width: 70%;
}

.BasicPageItem .nextButton {
	display: inline-block;
	padding: 0.5em 1em;
	padding-top: 0.6em;
	background-color: black;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: large;
	cursor: default;
	margin-top: 1em;
}

.BasicPageItem .bigText, .BasicPageItem .bigImage {
	font-size: 6vw;
	display: inline-block;
	margin-bottom: 0.3em;
}

.BasicPageItem .bigText {
	color: #5423E2;
	background-color: #E0E6F6;
	padding: 0.2em 0.5em;
	text-transform: uppercase;
	border-radius: 20px;
}

.BasicPageItem .bigImage {
	height: 3em;
}

.BasicPageItem.cashApp .bigText {
	background-color: #00CB30;
	color: white;
}

.BasicPageItem.instagram .bigText {
	background: linear-gradient(#FF3628, #FFDB4C);
	color: white;
}
