.tooltip {
	background-color: #00FFE0;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	padding: 4px 8px;
	position: relative;
	line-break: before;
}
.tooltip:after {
	content: " ";
	position: absolute;
	left: 8px;
	width: 8px;
	height: 8px;
	background-color: #00FFE0;
	transform: rotate(45deg);
}
/* Small */
@media screen and (max-width: 700px) {
	.tooltip {
		font-size: 9px;	
		margin-top: 1em;
		margin-bottom: 1em;
		width: 9em;
		margin-right: auto;
		position: absolute;
	}
	.tooltip:after {
		top: -4px;
	}
}
/* Large */
@media screen and (min-width: 700px) {
	.tooltip {
			font-size: 15px;
			top: -34px;
			top: -30px;
			left: -22px;	
			display: inline-block;
	}
	.tooltip:after {
		bottom: -4px;
	}
}
